.App{
  background-color: #f0fff0;
}
.main-container{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.white{
  color: #fff
}
.job-details{
  border: 1px solid #d8bfd8;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    text-align: left;
    background: #d8bfd8;
}
.apply-form {
  width: 40%;
  margin: auto;
  padding: 10px;
  text-align: center;
}
.apply-form input, .apply-form textarea{
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  margin: 10px 0;
}
.commonBtn {
    background-color: #8a2be2;
    color: #fff;
    font-size: 20px;
    border-radius: 8px;
    padding: 10px 40px;
    border: 1px solid #8a2be2;
    cursor: pointer;
    margin-top: 10px;
}
button:disabled,
button[disabled]{
  opacity: 0.3;
  cursor: not-allowed;
}
.errorMsg{
  color: red;
}
.searchBar {
    /* width: 50%; */
    text-align: center;
}
.searchBar input {
  padding: 10px;
  border-radius: 8px;
  width: 500px;
  display: block;
  margin: auto;
}
.searchBar button{
  margin-top: 30px;
}
.jobTxtHeading{

}
.role {
    font-size: 25px;
    text-decoration: unset;
    color: #8a2be2;
}
a {
    text-decoration: unset;
}
.companyName {
    font-size: 20px;
    color: #8a2be2;
}
.skills{
  font-size: 18px;
  color: #8a2be2;
}
.job-details:hover {
    border: 3px solid #8a2be2;
    transition: 0.4s;
}
.applyNow {
    text-align: center;
    margin-top: 70px;
}
.descriptionJob {
    font-size: 18px;
}
.description-container {
    padding: 20px;
}
.thankyou-container {
    padding: 20px;
}
.jobTxtHeading {
    text-align: center;
    font-size: 30px;
}
.listing {
    width: 900px;
}